<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">LOGIN</h2>
        <hr />
        <form id="login-form">
            <div class="form-group">
                <label for="userInput">Usuario:</label>
                <input type="text" class="form-control" id="userInput" placeholder="Ingrese el usuario" required>
            </div>
            <div class="form-group">
                <label for="passwordInput">Contraseña:</label>
                <input type="password" class="form-control" id="passwordInput" placeholder="Ingrese la contraseña" required>
            </div>
            <div id="error-container"></div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>


<script>
    $("#login-form").submit(function (e) {
        e.preventDefault();

        let credentials = new Object();
        credentials.UserName = document.getElementById("userInput").value;
        credentials.Password = document.getElementById("passwordInput").value;

        axios.post('/api/v1/account/login', credentials)
          .then(function (response) {
              window.location.assign("/Product/Index");
          })
          .catch(function (error) {
              let response = JSON.parse(error.response.request.response);
              $("#error-container").html('<div class="alert alert-danger" role="alert">' + response.Message + '</div');
          })
    })
</script>

